{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 180,
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}
